.css-selector {
  font-family: 'Font Name', 'Montserrat', sans-serif;
}

@font-face {
    font-family: myFirstFont;
    src: url(font-family: 'Montserrat', sans-serif;);
}


.formtest{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 20px;
}

.button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}


 
}
.static > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 400px;
}


}

h3 {
    font-size: 15
}


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  font-size: 18px;
  text-transform: uppercase;
  float: right;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.jumbotron {
    position: relative; 
    width: 100%; /* for IE 6 */
    height: auto;
    overflow: hidden;
    padding-top: 275px;
    padding-bottom: 125px;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    background-size: cover;
    background-image: url("noborders.jpg");
}

p.thick {
    font-weight: bold;
}

#logo {
  vertical-align: left;
  width: 100%;
}

.fa{
    float: none;
}

.jumbotron .bg-overlay {
    background: rgba(0,0,0,0.5);
    width: 100%;
    margin-top: -9999px; 
    padding-top: 9999px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;

}

h6 {
  font-size: 18
  font-weight bold
}