.formtest{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 20px;
}

.button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}


 
}
.static > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 400px;
}


}

h3 {
    font-size: 15
}


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  font-family: : Arial, 'Arial Unicode MS', Helvetica;
  font-size: 21px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}



div.container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; /* to center the container */
}
img {
  width: 100%;
  height: auto;
}

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  font: 30px;
  position: absolute;
}



.jumbotron{
    position: relative; 
    width: 100%; /* for IE 6 */
    height: auto;
    overflow: hidden;
    padding-top: 170px;
    font-size: 35px;
    text-align: center;
    color: #000000
    background-image: url("collage2.jpg");
    background-size: cover;

}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   text-align: center;
   margin-top: 30px; 
   margin-bottom: 30px;
}

h2 { 
   position: relative; 
   text-align: center;

}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 80px;
}
.marketing h3 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;

  @media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }


  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }


  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
